.contenedor{
    max-width: 75rem;//1200px
    width: 90%;
    margin: 0 auto;
}

.titulo{
    font-family: $cursiva;
    font-weight: $bold;
    font-style: $italica;
    span{
        font-weight: normal;
    }
}

.seccion{
    padding: 2rem 0;
}
.ocultar-contenido{
    transform: translateX(-200%);
}
.mostrar-contenido{
    transition: all 1s ease-in-out;
    transform: translateX(0);
}

.titulos-secciones{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: $normal;
    font-style: $italica;
    text-transform: capitalize;
    
    &::after{
        content: "";
        display: block;
        width: 50%;
        height: .3rem;
        border-radius: .3rem;
        background:linear-gradient(to right, $verdeOscuro, $verdeClaro) ;
    }

    span{
        font-weight: $bold;
    }

}

.active{
    &::after{
        content: "";
        display: block;
        min-width: fit-content;
        height: .3rem;
        margin-top: .5rem;
        border-radius: .5rem;
        background: linear-gradient(to right, $verdeClaro, $verde);
    }
}

.boton{
    display: block;
    padding: .5rem;
    margin: 1rem auto;
    text-transform: uppercase;
    text-align: center;
    font-weight: $bold;
    border-radius: .3rem;
}

.boton-contacto{
    width: 80%;
    border:.1rem solid $verdeClaro;
    color: $claro;
    transition: all .3s ease ;
    &:hover{
        background-color: $verde;
    }
}

.boton-descarga{
    margin: 2rem auto;
    width: 60%;
    border:.1rem solid $claro;
    color: $claro;
    transition: all .3s ease ;
    &:hover{
        background-color: $verdeOscuro;
    }
}

.estilo-cursiva{
    text-shadow: 0 .2rem 0 $oscuro;
    font-family: $cursiva;
}

.overflow{
    overflow: hidden;
}