//---------------------FUNTES
 $regular: 'Lato', sans-serif; //  300, 300 italic, 400,  700
 $cursiva: 'Lobster Two', cursive; //400, 400 italic, 700, 700 italic

$thin:300;
$normal:400;
$bold:700;
$italica: italic;

// ------------------RESOLUCIONES
$telefono:480px; // min->250 max->767
$tableta:768px; //min->768 max->979
$laptop:980px; //min->980 max->1199
$escritorio:1200px; //min->1200 

//--------------------COLORES
$verde: #209200;
$verdeClaro: #b3b01e;
$verdeOscuro: #525d29;
$verdeOscuro2:#333129;
$claro:#f0e6e6;
$oscuro:#181717;
$azul:#0e79dd;
